<div class="container">
  <div class="row">
    <div class="card mt-5">
        <h2 class="text-center mt-3">Example Form</h2>
        <div class="card-body">
            <form [formGroup]="exform">
                <div class="mb-3">
                    <label for="Name" class="form-label">Name</label>
                    <input
                        type="text"
                        formControlName="name"
                        [ngClass]="{'form-control' : true, 'is-invalid': this.exform.get('name')?.invalid && this.exform.get('name')?.touched }"
                    >
                    <div class="invalid-feedback">
                        Name is Required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input
                        type="text"
                        formControlName="email"
                        [ngClass]="{'form-control' : true, 'is-invalid': this.exform.get('email')?.invalid && this.exform.get('email')?.touched }"
                    >
                    <div class="invalid-feedback">
                        Email is Required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="Phone" class="form-label">Phone</label>
                    <input
                        type="text"
                        formControlName="phone"
                        [ngClass]="{'form-control' : true, 'is-invalid': this.exform.get('phone')?.invalid && this.exform.get('phone')?.touched }"
                    >
                    <div class="invalid-feedback">
                        Phone no is required (minimum length 10, numbers)
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Message" class="form-label">Message</label>
                    <textarea
                        formControlName="message"
                        [ngClass]="{'form-control' : true, 'is-invalid': this.exform.get('message')?.invalid && this.exform.get('message')?.touched }"
                    ></textarea>
                    <div class="invalid-feedback">
                        Message is required (minimum length 5)
                    </div>
                </div>
                <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="this.exform.invalid"
                    (click)="handleSubmit()"
                >Send Message</button>
            </form>
        </div>
    </div>
  </div>
</div>
